doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/d3-2.10.3/d3.v2.min.js')
    script(src='/javascripts/cubism-1.2.2/cubism.v1.min.js')
  body
    script(src='javascripts/dashboard.js')
    